<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.com.richmond.catalog">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".First"
            android:label="@string/name_header" />
        <activity
            android:name=".About"
            android:label="@string/name_header" />
        <activity
            android:name=".Where"
            android:label="@string/name_header" />
        <activity android:name=".Stores" />
        <activity android:name=".Series" />
        <activity android:name=".Description" />
        <activity android:name=".Readers" />
        <activity android:name=".Digital" />
        <activity android:name=".Dig" />
        <activity android:name=".Simbolos" />
        <activity android:name=".Symbolkey"></activity>
    </application>

</manifest>
